@import url('../reset.css');

ul {
  display: flex;
  align-items: center;
}

li {
  padding: 0.5rem;
}

.nav_search {
  color: var(--black);
}

.nav_login {
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  color: var(--black);
  background-color: var(--light-gray);
}
