<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>내 정보 수정 - 장보고 식자재 조회</title>

    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/edit-info.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />

    <script defer src="/js/edit-info.js"></script>
    <script
      src="https://kit.fontawesome.com/bb430ea525.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body onload="onLoadUserInfo()">
    <nav class="navbar">
      <!-- 로고 -->
      <a href="/" class="navbar__logo">JANGBOGO</a>
    </nav>
    <section>
      <h3>내 정보 수정</h3>
      <fieldset>
        <div class="login-info">
          <h4>로그인 정보</h4>
          <div class="" id="login-1">
            <div id="email">
              <label>이메일</label>
              <span id="email-span"></span>
              <button id="email-btn" type="button">변경</button>
            </div>
          </div>
          <div class="hidden" id="login-2">
            <form id="email-form">
              <label for="">이메일</label>
              <input type="email" id="modify-email" placeholder="이메일 입력" />
              <div>
                <button id="email-cancle" type="button">변경 취소</button>
                <button type="button">인증메일 발송</button>
              </div>
            </form>
          </div>
          <div id="password">
            <button id="edit-password" type="button">비밀번호 수정</button>
            <div class="hidden">
              <form id="password-form">
                <label for="modify-password">새로운 비밀번호</label>
                <input type="password" id="modify-password" />
                <label for="modify-password-check">비밀번호 확인</label>
                <input type="password" id="modify-password-check" />
                <div>
                  <button id="password-cancle" type="button">변경 취소</button>
                  <button id="change-password" type="button">
                    비밀번호 변경
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="user-info">
          <h4>사용자 정보</h4>
          <form>
            <div>
              <label for="">성명</label>
              <input type="text" id="modify-name" />
            </div>
            <div>
              <label for="">연락처</label>
              <input type="tel" id="modify-tel" />
            </div>
            <div>
              <label for="">주소</label>
              <input type="text" id="modify-address" />
            </div>
            <button id="save-info" type="button">저장하기</button>
          </form>
        </div>
        <a href="#" id="remove-user">회원탈퇴</a>
      </fieldset>
    </section>
  </body>
</html>
