<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>찜 목록 - 장보고 식자재 조회</title>

    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/favorite.css" />
    <link rel="stylesheet" href="/css/item.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />

    <script defer src="/js/go-back.js"></script>
    <script defer src="/js/scroll-up.js"></script>
    <script defer src="/js/favorite-component.js"></script>
    <script
      src="https://kit.fontawesome.com/bb430ea525.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body onload="readCallDibs()">
    <nav class="navbar">
      <button id="navbar-cancle"><i class="fa-solid fa-arrow-left"></i></button>
      <span class="navbar__logo">찜 목록</span>
    </nav>

    <main class="main-board">
      <div class="hidden" id="scroll-up">
        <i class="fa-solid fa-arrow-up"></i>
      </div>
      <ul class="item-list"></ul>
    </main>
  </body>
</html>
