<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>찜 목록 - 장보고 식자재 조회</title>

    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/favorite.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />

    <script defer src="/js/go-back.js"></script>
    <script defer src="/js/scroll-up.js"></script>
    <script
      src="https://kit.fontawesome.com/bb430ea525.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar">
      <button id="navbar-cancle"><i class="fa-solid fa-arrow-left"></i></button>
      <span class="navbar__logo">찜 목록</span>
    </nav>

    <main class="main-board">
      <div class="hidden" id="scroll-up">
        <i class="fa-solid fa-arrow-up"></i>
      </div>
      <ul class="item-list">
        <li>
          <img src="/File/items/pork.png" />
          <div id="item-info">
            <span id="market-name">동원시장</span>
            <dl>
              <dt>돼지고기(생삼겹살)</dt>
              <dd>100g</dd>
            </dl>
            <div id="item-price">
              <span>2,100원</span>
            </div>
          </div>
          <button type="button" id="item-remove">찜 목록에서 제거</button>
        </li>
        <li>
          <img src="/File/items/radish.png" />
          <div id="item-info">
            <span id="market-name">동원시장</span>
            <dl>
              <dt>무(세척무 중)</dt>
              <dd>1개</dd>
            </dl>
            <div id="item-price">
              <span>2,100원</span>
            </div>
          </div>
          <button type="button" id="item-remove">찜 목록에서 제거</button>
        </li>
      </ul>
    </main>
  </body>
</html>
