<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/public.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
      rel="stylesheet"
    />

    <script defer src="/js/login.js"></script>
    <script
      src="https://kit.fontawesome.com/bb430ea525.js"
      crossorigin="anonymous"
    ></script>

    <title>로그인 - 장보고 식자재 조회</title>
  </head>
  <body>
    <nav class="navbar">
      <!-- 로고 -->
      <a href="/" class="navbar__logo">JANGBOGO</a>
    </nav>

    <main class="main-board">
      <div class="login__content">
        <!-- 로그인 -->
        <section class="" id="login__form">
          <form>
            <div class="login__form_title">로그인</div>
            <div class="login__email_board">
              <label for="login__email">이메일*</label><br />
              <input
                type="email"
                id="login__email"
                required
                placeholder="name@example.com"
              /><br />
            </div>

            <div class="login__password_board">
              <label for="login__password">비밀번호*</label><br />
              <input type="password" id="login__password" required /><br />
              <button type="button" class="login__form_findPass">
                비밀번호를 잊어버리셨나요?
              </button>
            </div>
            <p>아이디 혹은 비밀번호가 잘못되었습니다. 다시 로그인해주세요.</p>

            <button type="submit" class="login__form_loginBtn">로그인</button>
          </form>
        </section>

        <!-- 비밀번호 찾기 -->
        <section class="hidden" id="findPassword">
          <h1 class="findpass_title">비밀번호 찾기</h1>
          <p class="error-message">
            이메일로 새로운 비밀번호를 받으시려면 아래에 이메일 주소를
            입력해주세요.
          </p>
          <form>
            <div class="findpass__email_board">
              <label for="findpass__email">이메일*</label><br />
              <input
                type="email"
                id="findpass__email"
                required
                placeholder="name@example.com"
              /><br />
            </div>

            <div class="findpass__btn">
              <button type="submit" class="findpass_ok">전송</button>
              <button type="button" class="findpass_cancle">취소</button>
            </div>
          </form>
        </section>

        <!-- 계정 생성 -->
        <section class="login__register">
          <div class="login__register_title">새로 오셨나요?</div>
          <p>개인 계정을 생성하시면 다양한 기능을 사용하실 수 있습니다.</p>
          <a href="/member/register">새로운 계정 만들기</a>
        </section>
      </div>
    </main>
  </body>
</html>
