<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    
    <script defer src="/js/login.js"></script>
    <script src="https://kit.fontawesome.com/bb430ea525.js" 
    crossorigin="anonymous"></script>

    <title>장보고 - 로그인 화면</title>
</head>
<body>
    <nav class="navbar">
        <!-- 사이드 메뉴 -->
        <div class="navber__side">
            <input type="checkbox" id="navbar__sidebtn" onclick="menuOn()">
            <label for="navbar__sidebtn">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <!-- 사이드 메뉴 클릭 시 화면-->
            <div class="navbar__sidebar">
                <div class="sidebar__content">
                    <nav></nav>
                    <!-- 메뉴 카테고리 -->
                    <div class="category">
                        <div class="category__meet">
                            <a href="/category/cate_meat.html">
                                <span>축산물</span>  
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="category__seafood">
                            <a href="/category/cate_sea.html">
                                <span>해산물</span>  
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="category__fruit">
                            <a href="/category/cate_fruit.html">
                                <span>과일</span>  
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="category__vegetable">
                            <a href="/category/cate_vegeta.html">
                                <span>채소</span>  
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <!-- 메뉴 사용자 콘텐츠 -->
                    <div class="sidebar__account_content">
                        <div class="sidebar__mypage">
                            <a href="/mypage/mypage_index.html">
                                <i class="fa-regular fa-user"></i>
                                <span>마이페이지</span>
                            </a>
                        </div>
                        <div class="sidebar__favorit">
                            <a href="#">
                                <i class="fa-regular fa-heart"></i>
                                <span>찜 목록</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 검색 -->
        <div class="navbar__search">
            <input type="checkbox" id="navbar__searchbtn" onclick="searchOn()">
            <label for="navbar__searchbtn">
                <i class="fa-brands fa-sistrix"></i>
            </label>
            <!-- 검색 버튼 클릭 시 화면 -->
            <div class="navbar__searchbar">
                <form action="">
                    <nav></nav>
                    <div class="search__content">
                        <label for="navbar__search_input">
                            <i class="fa-brands fa-sistrix"></i>
                        </label>
                        <input type="text" id="navbar__search_input" 
                        placeholder="장보고에서 '최저가'를 찾아드려요!">
                    </div>
                </form>
            </div>
        </div>

        <!-- 로고 -->
        <a th:href="@{/}" class="navbar__logo">JANGBOGO</a>

        <!-- 로그인 -->
        <div class="navbar__sign">
            <a href="/home/home_index.html"><i id="backHome" class="fa-solid fa-x"></i></a>
        </div>
    </nav>

    <main class="login__board">
        <div class="navbar__signbar">
            <h1 class="login__header_title">
                <span>개인정보</span>
            </h1>
            <hr>

            <div class="login__content">
                <!-- 로그인 -->
                <section class="login__form">
                    <form th:action="@{/member/login}" method="post">
                        <div class="login__form_title">로그인</div>
                        <div class="login__email_board">   
                            <label for="login__email">이메일*</label><br>
                            <input type="email" id="login__email" name="email" dir="auto"
                            required aria-invalid="false" placeholder="name@example.com"><br>
                        </div>

                        <div class="login__password_board">
                            <label for="login__password">비밀번호*</label><br>
                            <input type="password" id="login__password" name="password" dir="auto"
                            required aria-invalid="false"><br>
                            <button type="button" class="login__form_findPass" onclick="findPass()">
                                비밀번호를 잊어버리셨나요?
                            </button>
                        </div>

                        <button type="submit" class="login__form_loginBtn">로그인</button>
                    </form>
                </section>

                <!-- 비밀번호 찾기 -->
                <section class="login__findpass">
                    <h1 class="findpass_title">비밀번호 찾기</h1>
                    <p>이메일로 새로운 비밀번호를 받으시려면 아래에 이메일 주소를 입력해주세요.</p>
                    <form>
                        <div class="findpass__email_board">   
                            <label for="findpass__email">이메일*</label><br>
                            <input type="email" id="findpass__email" dir="auto"
                            required aria-invalid="false" placeholder="name@example.com"><br>
                        </div>

                        <div class="findpass__btn">
                            <button type="submit" class="findpass_ok">전송</button>
                            <button type="button" class="findpass_cancle" onclick="backLogin()">취소</button>
                        </div>
                    </form>
                </section>

                <!-- 계정 생성 -->
                <section class="login__register">
                    <div class="login__register_title">새로 오셨나요?</div>
                    <p>개인 계정을 생성하시면 다양한 기능을 사용하실 수 있습니다.</p>
                    <a th:href="@{/member/registerForm}">새로운 계정 만들기</a>
                </section>
            </div>
        </div>
    </main>
</body>
</html>