.navbar {
  display: block;
  border-bottom: 1px solid var(--black-color);
}

#navbar-cancle {
  position: relative;
  font-size: 24px;
}

.navbar__logo {
  position: absolute;
  top: 0.8rem;
  left: 40%;
}

.main-board {
  padding: 59px 0 0 0;
}

.item-list li {
  display: inline-block;
  width: 40%;
  height: 40%;
  text-align: center;
  padding: 1rem;
}

.item-list img {
  width: 60%;
  height: 60%;
}

#market-name {
  font-size: 14px;
  color: var(--orange-color);
}

dl dt {
  font-size: 18px;
}

dl dd {
  font-size: 16px;
  color: var(--gray-color);
}

#item-price {
  margin: 5px 0 0 0;
  font-size: 18px;
  color: var(--red-color);
}

#item-remove {
  width: 80%;
  height: 28px;
  margin: 5px 0 0 0;
  border: 1px solid var(--black-color);
  cursor: pointer;
}
