.navbar__sign {
  font-size: 24px;
  z-index: 1;
}

.line__top {
  margin: 0.5rem 0 1rem 0;
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown_subMenu {
  display: none;
  position: absolute;
  right: 3%;
  border: 1px solid var(--gray-color);
  background-color: var(--white-color);
}

.dropdown_subMenu li {
  padding: 0.5rem;
}

.main-board {
  margin-top: 51px;
  padding: 1rem 1rem 1rem 1.5rem;
}

.cate_title {
  font-size: 1.5rem;
  font-weight: 550;
}

.item {
  width: 40%;
  margin: 0 0 1rem 1rem;
  display: inline-block;
  text-align: center;
}

.item img {
  margin-bottom: 1rem;
  width: 60%;
  height: 60%;
}

.item .itemBtn {
  width: 100%;
  height: 28px;
  margin: 5px 0 0 0;
  border: 1px solid var(--black-color);
}

.active {
  width: 100%;
  height: 28px;
  margin: 5px 0 0 0;
  border: 1px solid var(--black-color);
  color: var(--white-color);
  background-color: var(--blue-color);
  cursor: pointer;
}

.item .marketName {
  font-size: 14px;
  color: var(--orange-color);
}

.item dl dt {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black-color);
}

.item dl dd {
  color: #666666;
}

.item .itemPrice {
  color: var(--red-color);
  font-weight: 800;
  font-size: 1.15rem;
}
