.navbar__sign {
  font-size: 24px;
  z-index: 1;
}

.market-board {
  padding: 67px 0 1rem 1rem;
  display: flex;
  background-color: var(--black-color);
}

.market-board img {
  width: 140px;
  height: 140px;
  border-radius: 10px;
}

.market-info {
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  color: var(--white-color);
}

.market-info span:first-child {
  font-size: 20px;
}

.market-info span:last-child {
  margin-top: 6px;
}
.market-info span:last-child i {
  color: var(--blue-color);
}

#write-review {
  padding: 0 10px 0 0;
  flex: none;
  margin-left: auto;
  color: var(--white-color);
}

.review {
  padding: 10px;
  border-bottom: 1px solid var(--black-color);
}

.review-like {
  display: inline-block;
  margin-left: 10px;
  font-size: 48px;
  color: var(--blue-color);
}

.review-unlike {
  display: inline-block;
  margin-left: 10px;
  font-size: 48px;
  color: var(--red-color);
}

.review-info {
  display: inline-block;
  flex-direction: column;
  padding: 1rem;
}

.review-info span {
  font-size: 16px;
  font-weight: lighter;
  color: var(--black-color);
}

.review-info p {
  margin: 10px 0 0 0;
  font-size: 14px;
  color: var(--black-color);
}
