/* 전체 */
:root {
    --white-color: white;
    --black-color: #2c2c2c;
    --gray-color: #c1c1c1;
    --red-color: #FE4A1C;
    --orange-color: #ff6f00;
    --green-color: #4caf50;
}

body {
    font-family: 'Do Hyeon', sans-serif;
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

h1 {
    margin: 0;
    margin-bottom: 15px;
}

hr, p, dl, dt, dd, button, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

button {
    font-family: 'Do Hyeon', sans-serif;
    background-color: var(--white-color);
    outline: 0;
    border: 0;
}

ul, ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

/* nav */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 90%;
    background-color: var(--white-color);
    padding: 12px 24px;
    border-bottom: 1px solid #c1c1c1;
    z-index: 3;
}

.navbar__logo {
    position: relative;
    right: 12%;
    font-size: 24px;
    font-weight: 700;
    z-index: 3;
}


/* nav 사이드 메뉴 */
#navbar__sidebtn {
    display: none;
}

#navbar__sidebtn + label {
    display: block;
    width: 24px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

#navbar__sidebtn + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background: var(--black-color);
    transition: all .35s;
}

#navbar__sidebtn + label span:nth-child(1) {
    top: 0;
    z-index: 2;
}

#navbar__sidebtn + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

#navbar__sidebtn + label span:nth-child(3) {
    bottom: 0;
    z-index: 2;
}

#navbar__sidebtn:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    z-index: 2;
}

#navbar__sidebtn:checked + label span:nth-child(2) {
    opacity: 0;
    z-index: 2;
}

#navbar__sidebtn:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
    z-index: 2;
}

.navbar__sidebar {
    width: 100%;
    height: 100%;
    background: var(--white-color);
    position: fixed;
    top: 0;
    z-index: 1;
    left: -100%;
    transition: all .35s;
    
}

#navbar__sidebtn:checked + label + div {
    left: 0;
}

.sidebar__content {
    font-size: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-between;
}

.sidebar__content nav {
    height: 54px;
    border-bottom: 1px solid #c1c1c1;
}

.category {
    width: 100%;
}

.category .category__meet, .category__seafood, 
.category__fruit, .category__vegetable, 
.sidebar__mypage, .sidebar__favorit {
    border-bottom: 1px solid #c1c1c1;
    padding: 16px;
}

.category a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__account_content i {
    font-size: 20px;
    padding-right: 12px;
}

.sidebar__account_content .sidebar__mypage i {
    margin-right: 2.5px;
}



/* nav 검색 */
.navbar__search {
    position: relative;
    right: 12%;
}

#navbar__searchbtn {
    display: none;
}

#navbar__searchbtn + label {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

#navbar__searchbtn + label i {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}

.navbar__searchbar {
    width: 100%;
    height: 120px;
    background: var(--white-color);
    position: fixed;
    top: -120px;
    left: 0;
    z-index: 1;
    transition: all .35s;
    border-bottom: 1px solid #c1c1c1;
}

#navbar__searchbtn:checked + label + div {
    top: 0;
}

.navbar__searchbar nav {
    height: 54px;
    border-bottom: 1px solid var(--gray-color);
}

.navbar__searchbar .search__content {
    margin-top: 10px;
    text-align: center;
}

.navbar__searchbar .search__content label {
    padding: 8px;
}

.navbar__searchbar .search__content input {
    width: 80%;
    height: 40px;
    text-indent: 1rem;
    border: 1px solid #fff;
}

#scroll-up {
    padding: 0.5rem;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: var(--white-color);
    border: 1px solid var(--gray-color);
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

.navbar__sign form button {
    font-size: 1.25rem;
}
