/* nav 로그인 */
.navbar__sign {
  display: block;
  font-size: 24px;
  z-index: 3;
}

/* 정렬 */
.line__top {
  margin: 0.5rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cate_title {
  font-size: 1.5rem;
  font-weight: 550;
}

.dropdown_menu .dropdown_subMenu {
  display: none;
  position: absolute;
  left: 5%;
  border: 1px solid var(--gray-color);
  background-color: var(--white-color);
}

.dropdown_subMenu li {
  padding: 0.5rem;
}

/* 검색 결과 */
#scroll-up {
  padding: 0.5rem;
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.search__title {
  text-align: center;
}

.main-board {
  padding: 5rem 1rem 1rem 1.5rem;
}

.search_itemlist .item {
  width: 40%;
  margin: 0 0 1rem 1rem;
  display: inline-block;
  text-align: center;
}

.search_itemlist .item img {
  margin-bottom: 1rem;
  width: 60%;
  height: 60%;
}

.item .itemBtn {
  width: 100%;
  height: 28px;
  margin: 5px 0 0 0;
  border: 1px solid var(--black-color);
  background-color: var(--white-color);
}

.item .marketName {
  font-size: 12px;
  color: var(--orange-color);
}

.item dl dt {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--black-color);
}

.item dl dd {
  color: #666666;
}

.item .itemPrice {
  color: var(--red-color);
  font-weight: 800;
  font-size: 1.15rem;
}
