<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/category.css">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <script defer src="/js/sort.js"></script>
    <script defer src="/js/nav-activity.js"></script>
    <script defer src="/js/scroll-up.js"></script>
    <script src="https://kit.fontawesome.com/bb430ea525.js" 
    crossorigin="anonymous"></script>

    <title>채소 - 장보고 식자재 조회</title>
</head>
<body>
    <nav class="navbar">
        <!-- 사이드 메뉴 -->
        <div class="navber__side">
            <input type="checkbox" id="navbar__sidebtn" onclick="menuOn()">
            <label for="navbar__sidebtn">
                <span></span>
                <span></span>
                <span></span>
            </label>

            <!-- 사이드 메뉴 클릭 시 화면-->
            <div class="navbar__sidebar">
                <div class="sidebar__content">
                    <nav></nav>
                    <!-- 메뉴 카테고리 -->
                    <div class="category">
                        <div class="category__meet">
                            <a href="meat.html">
                                <span>축산물</span>  
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="category__seafood">
                            <a href="seafood.html">
                                <span>해산물</span>  
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="category__fruit">
                            <a href="fruit.html">
                                <span>과일</span>  
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                        <div class="category__vegetable">
                            <a href="vegeta.html">
                                <span>채소</span>  
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </div>
                    </div>

                    <!-- 메뉴 사용자 콘텐츠 -->
                    <div class="sidebar__account_content">
                        <div class="sidebar__mypage">
                            <a href="/member/mypage.html">
                                <i class="fa-regular fa-user"></i>
                                <span>마이페이지</span>
                            </a>
                        </div>
                        <div class="sidebar__favorit">
                            <a href="/member/favorite.html">
                                <i class="fa-regular fa-heart"></i>
                                <span>찜 목록</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 검색 -->
        <div class="navbar__search">
            <input type="checkbox" id="navbar__searchbtn" onclick="searchOn()">
            <label for="navbar__searchbtn">
                <i class="fa-brands fa-sistrix"></i>
            </label>
            <!-- 검색 버튼 클릭 시 화면 -->
            <div class="navbar__searchbar">
                <form action="">
                    <nav></nav>
                    <div class="search__content">
                        <label for="navbar__search_input">
                            <i class="fa-brands fa-sistrix"></i>
                        </label>
                        <input type="text" id="navbar__search_input" 
                        placeholder="장보고에서 '최저가'를 찾아드려요!">
                    </div>
                </form>
            </div>
        </div>

        <!-- 로고 -->
        <a th:href="@{/}" class="navbar__logo">JANGBOGO</a>

        <!-- 로그인 -->
        <div class="navbar__sign">
            <a th:href="@{/login}" sec:authorize="!isAuthenticated()"><i id="goLogin" class="fa-solid fa-arrow-right-to-bracket"></i></a>
            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <button type="submit"><i class="fa-solid fa-power-off"></i></button>
            </form>
        </div>
    </nav>

    <main class="main-board">
        <!-- 정렬 -->
        <div class="line__top">
            <p class="cate_title">채소</p>
            <div class="sort_area">
                <div class="dropdown">
                    <ul class="dropdown_menu">
                        <li data-option="standard_sort">
                            <a href="#" id="sortBtn">정렬 기준</a>
                            <ul class="dropdown_subMenu">
                                <li><a href="#" id="sort_favorit" data-option="favorit">찜 많은 순</a></li>
                                <li><a href="#" id="sort_low" data-option="lowPrice">낮은 가격순</a></li>
                                <li><a href="#" id="sort_high" data-option="highPrice">높은 가격순</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="cate_itemlist">
            <div class="hidden" id="scroll-up">
                <a href="#" class="scrollBtn"><i class="fa-solid fa-arrow-up"></i></a>
            </div>
            
            <div class="item">
                <img src="/File/items/onion.png" alt="onion">
                <div class="itemInfo">
                    <span class="marketName">동원시장</span>
                    <dl>
                        <dt>양파(1.5kg)</dt>
                        <dd>1.5kg / 1망</dd>
                    </dl>
                    <div class="price_area">
                        <span class="itemPrice">3,317원</span>
                    </div>
                </div>
                <button class="itemBtn">찜 목록에 추가</button>
            </div>
            <div class="item">
                <img src="/File/items/onion.png" alt="onion">
                <div class="itemInfo">
                    <span class="marketName">동원시장</span>
                    <dl>
                        <dt>양파(1.5kg)</dt>
                        <dd>1.5kg / 1망</dd>
                    </dl>
                    <div class="price_area">
                        <span class="itemPrice">3,317원</span>
                    </div>
                </div>
                <button class="itemBtn">찜 목록에 추가</button>
            </div>
            <div class="item">
                <img src="/File/items/onion.png" alt="onion">
                <div class="itemInfo">
                    <span class="marketName">동원시장</span>
                    <dl>
                        <dt>양파(1.5kg)</dt>
                        <dd>1.5kg / 1망</dd>
                    </dl>
                    <div class="price_area">
                        <span class="itemPrice">3,317원</span>
                    </div>
                </div>
                <button class="itemBtn">찜 목록에 추가</button>
            </div>
            <div class="item">
                <img src="/File/items/onion.png" alt="onion">
                <div class="itemInfo">
                    <span class="marketName">동원시장</span>
                    <dl>
                        <dt>양파(1.5kg)</dt>
                        <dd>1.5kg / 1망</dd>
                    </dl>
                    <div class="price_area">
                        <span class="itemPrice">3,317원</span>
                    </div>
                </div>
                <button class="itemBtn">찜 목록에 추가</button>
            </div>
            <div class="item">
                <img src="/File/items/onion.png" alt="onion">
                <div class="itemInfo">
                    <span class="marketName">동원시장</span>
                    <dl>
                        <dt>양파(1.5kg)</dt>
                        <dd>1.5kg / 1망</dd>
                    </dl>
                    <div class="price_area">
                        <span class="itemPrice">3,317원</span>
                    </div>
                </div>
                <button class="itemBtn">찜 목록에 추가</button>
            </div>
            <div class="item">
                <img src="/File/items/onion.png" alt="onion">
                <div class="itemInfo">
                    <span class="marketName">동원시장</span>
                    <dl>
                        <dt>양파(1.5kg)</dt>
                        <dd>1.5kg / 1망</dd>
                    </dl>
                    <div class="price_area">
                        <span class="itemPrice">3,317원</span>
                    </div>
                </div>
                <button class="itemBtn">찜 목록에 추가</button>
            </div>
            <div class="item">
                <img src="/File/items/onion.png" alt="onion">
                <div class="itemInfo">
                    <span class="marketName">동원시장</span>
                    <dl>
                        <dt>양파(1.5kg)</dt>
                        <dd>1.5kg / 1망</dd>
                    </dl>
                    <div class="price_area">
                        <span class="itemPrice">3,317원</span>
                    </div>
                </div>
                <button class="itemBtn">찜 목록에 추가</button>
            </div>
            <div class="item">
                <img src="/File/items/onion.png" alt="onion">
                <div class="itemInfo">
                    <span class="marketName">동원시장</span>
                    <dl>
                        <dt>양파(1.5kg)</dt>
                        <dd>1.5kg / 1망</dd>
                    </dl>
                    <div class="price_area">
                        <span class="itemPrice">3,317원</span>
                    </div>
                </div>
                <button class="itemBtn">찜 목록에 추가</button>
            </div>
            <div class="item">
                <img src="/File/items/onion.png" alt="onion">
                <div class="itemInfo">
                    <span class="marketName">동원시장</span>
                    <dl>
                        <dt>양파(1.5kg)</dt>
                        <dd>1.5kg / 1망</dd>
                    </dl>
                    <div class="price_area">
                        <span class="itemPrice">3,317원</span>
                    </div>
                </div>
                <button class="itemBtn">찜 목록에 추가</button>
            </div>
            <div class="item">
                <img src="/File/items/onion.png" alt="onion">
                <div class="itemInfo">
                    <span class="marketName">동원시장</span>
                    <dl>
                        <dt>양파(1.5kg)</dt>
                        <dd>1.5kg / 1망</dd>
                    </dl>
                    <div class="price_area">
                        <span class="itemPrice">3,317원</span>
                    </div>
                </div>
                <button class="itemBtn">찜 목록에 추가</button>
            </div>
            <div class="item">
                <img src="/File/items/onion.png" alt="onion">
                <div class="itemInfo">
                    <span class="marketName">동원시장</span>
                    <dl>
                        <dt>양파(1.5kg)</dt>
                        <dd>1.5kg / 1망</dd>
                    </dl>
                    <div class="price_area">
                        <span class="itemPrice">3,317원</span>
                    </div>
                </div>
                <button class="itemBtn">찜 목록에 추가</button>
            </div>
            <div class="item">
                <img src="/File/items/onion.png" alt="onion">
                <div class="itemInfo">
                    <span class="marketName">동원시장</span>
                    <dl>
                        <dt>양파(1.5kg)</dt>
                        <dd>1.5kg / 1망</dd>
                    </dl>
                    <div class="price_area">
                        <span class="itemPrice">3,317원</span>
                    </div>
                </div>
                <button class="itemBtn">찜 목록에 추가</button>
            </div>
        </div>
    </main>
</body>
</html>